body{
    background-color: antiquewhite;
}
.container
{
    background-color: aquamarine;
    width: 900px;
    height: 100px;
    padding-top: 50px;
    padding-left: 40px;
    display: flex;
    gap: 70px;
    font-size: xx-large;
    border-radius: 50px;
}
input
{
    width: 150px;
    height: 50px;
}
.button
{
    width:100px ;
    height: 50px;
    background-color: rgb(3, 65, 18);
    color: antiquewhite;
    border-radius: 50px;
    border: none;
}
p{
  font-size: xx-large;  
}
