@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body
{
    background-color: #FFCCBC;
    font-family: "Poppins", sans-serif;
}
.container
{
    width: 450px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 9%;
    padding-block: 5px;
    padding-inline: 25px; 
}
.container img
{
    width: 100px;
    margin-block: 0px;
}
.container input
{
    border-radius: 9px;
    width: 240px;
    height: 40px;
    border: 1px solid #cdc6c6;
    font-size: large;
    margin-top: 25px;
}
.row 
{
    display: flex;
    gap: 15px;

}
.container button
{
  
    margin-bottom: 20px;
    background-color: rgb(32, 31, 31);
    color: whitesmoke;
    width: 450px;
    height: 50px;
    border-radius: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.image{
    font-size: 40px;
    color: rgb(244, 92, 92);
}



