body{
    background-color:#F7F7F7 ;
}
.container
{
    display: flex;
    margin-top: 150px;
    margin-left: 85px;
}
input:hover
{
    transform: rotate(-90deg);
    transition: 1s;
}
